/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url('./NotoSansTC-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url('./NotoSansTC-Light.otf') format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url('./NotoSansTC-Regular.otf') format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url('./NotoSansTC-Medium.otf') format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url('./NotoSansTC-Bold.otf') format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url('./NotoSansTC-Black.otf') format('opentype');
 }