// @import url('/static/fonts/notosanstc.css')
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css')

#app
  font-family 'Avenir', 'Noto Sans TC', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  h1
    font-size 3rem
    font-weight 800
  h2
    font-size 2rem
  p
    font-size 1.5rem !important
    line-height 1.75
    margin 3rem 0
    &.credit
      font-size 1.3rem !important
      margin initial
    &.caveat
      font-size 1.3rem !important

@media (max-width: 1680px)
  #app
    h2
      font-size 2rem
    p
      font-size 1.35rem !important
      line-height 1.75
      margin 2.7rem 0
      &.credit
        font-size 1.15rem !important
        margin initial
      &.caveat
        font-size 1.15rem !important
@media (max-width: 1440px)
  #app
    h2
      font-size 1.8rem
    p
      font-size 1.25rem !important
      line-height 1.75
      margin 2.5rem 0
      &.credit
        font-size 1.05rem !important
        margin initial
      &.caveat
        font-size 1.05rem !important
@media (max-width: 1280px)
  #app
    h2
      font-size 1.8rem
    p
      font-size 1rem !important
      line-height 1.75 !important
      margin 2rem 0
      &.credit
        font-size 0.8rem !important
        margin initial
      &.caveat
        font-size 0.8rem !important

// For iPad
@media (max-width: 1100px)
  #app
    h2
      font-size 1.8rem
// For iPhone 6+
@media (max-width: 767px)
  #app
    h2
      font-size 1.6rem
    h1
      font-size 2rem
// For iPhone 6
@media (max-width: 413px)
  #app
    h2
      font-size 1.4rem
// For iPhone 5
@media (max-width: 374px)
  #app
    h2
      font-size 1.4rem